<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">

</head>
<body bgcolor="yellow">
    <h1>hi {{titles}}  </h1>
    <div class="header">
        <a href="#">Home</a>
        <a href="profile">Profile</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
    <form action ="expression" method="POST">
        {% csrf_token %}
         1st value : <input type="text" placeholder="enter the number" name="text1" style="outline-width:0">
         2nd value : <input type="text" placeholder="enter the number" name="text2">
        <input type="submit">
    </form>
</body>
</html>